# ==============================================================================
# 1. KONEKSI DATABASE
# ==============================================================================
DATABASE_URL="postgresql+asyncpg://[user]:[password]@[host]:[port]/[database]"


# ==============================================================================
# 2. KEAMANAN & KONFIGURASI APLIKASI
# ==============================================================================
SECRET_KEY="[your-secret-password]"
HTTPS=False
DOMAIN="[Your domain name]"


# ==============================================================================
# 3. PENGATURAN EMAIL (SMTP GMAIL)
# ==============================================================================
# Petunjuk mendapatkan MAIL_PASSWORD:
# 1. Aktifkan 2FA di Akun Google > Keamanan > Autentikasi 2 Langkah.
# 2. Buat "App Password" (Kata Sandi Aplikasi), salin kode 16 digit yang muncul.
MAIL_USERNAME="email@example.com"
MAIL_PASSWORD="abcdefghijklmnop"
MAIL_FROM="email@example.com"


# ==============================================================================
# 4. SERVER WEB (GUNICORN + UVICORN)
# ==============================================================================
# Jaringan
BIND=0.0.0.0:8000

# Manajemen Proses
# (Kosongkan/comment WORKERS jika ingin otomatis mengikuti jumlah core CPU)
# WORKERS=5
THREADS=1

# Batasan Waktu (Timeout dalam detik)
TIMEOUT=120
GRACEFUL_TIMEOUT=30
KEEPALIVE=5

# Manajemen Memori (Mencegah Memory Leak)
MAX_REQUESTS=1000
MAX_REQUESTS_JITTER=50

# Logging / Catatan Sistem
LOG_LEVEL=info
ACCESS_LOG=-
ERROR_LOG=-

# Optimasi Mode Produksi
PRELOAD_APP=true

# Mode Pengembangan (Set TRUE hanya saat coding di lokal. Jika TRUE, set WORKERS=1)
RELOAD=false