DATABASE_URL="postgresql+asyncpg://[user]:[password]@[host]:[port]/[database]"

SECRET_KEY="[your-secret-password]"

# True|False
HTTPS=False
DOMAIN="[Your domain name]"

# Pengaturan koneksi ke server Gmail SMTP
MAIL_USERNAME=email@example.com

# Langkah-langkah Mendapatkan SMTP 
    # 1. Gmail:Aktifkan 2FA: Masuk ke Pengaturan Akun Google > Keamanan > Aktifkan "Autentikasi 2 Langkah".
    # 2. Buat App Password: Di bagian Keamanan, cari "App Password" (Kata Sandi Aplikasi), buat nama aplikasi (misal: "Aplikasi Kirim Email"), dan salin kata sandi 16 digit yang dihasilkan.
MAIL_PASSWORD=abcdefghijkl

MAIL_FROM = email@example.com